
.SidebarWrep {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 20%;
	z-index: 1;
	background-color: #fafafa;
	border-left: 1px solid #ccc;
	padding: 1rem;

	nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10rem;
	}
}

