@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

.container {
  background-color: #ede9fe;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 15px;
  padding-bottom: 20px;
}
.line {
  position: absolute; /* 절대 위치를 설정하기 위해 부모 요소(container)를 기준으로 함 */
  bottom: 0; /* 밑면에 위치 */
  left: 0; /* 왼쪽부터 시작 */
  width: 100%; /* 전체 너비를 차지 */
  height: 1px; /* 선의 높이 */
  background-color: black; /* 선의 색상 */
}

.titletext {
  font-family: 'Gugi', sans-serif;
  margin-left: 40%;
  font-size: 3.33rem;
  font-style: oblique;
}

.Btncontainer {
  margin-top: 0.5%;
  margin-left: 28%;
}
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background: linear-gradient(to right, #3498db, #e74c3c);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 20px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 150px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}
