$light-grey: #b5c6df;
$bg-color: #282c34;
$nav-color: #4f5879;
$neon-blue: #7aedfc;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  //   min-height: 100vh;
}
